* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
h1 {
    color: steelBlue;
    border-bottom: 10px solid black;
}
main img {
    width: 150px;
    float: right;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}

aside {
    position: relative;
    width: 25vw;
    text-align: center;
    order: -1;
    justify-content: center;
}
aside h2{
    position: absolute;
    /*top: 850px;
    left: 75px;*/
    top: 15px;
    left: 55px;
    color:black;
}
aside img {
    width: 400px;
    height: auto;
    text-align: center;
}
footer {
    margin-top: 5px;
    border-top: 10px dotted rebeccapurple;
    text-align: center;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 5px solid teal;
    color: white;
    background-color: darkslategrey;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
}