nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelBlue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 900px;
}
aside {
    width: 25vw;
    margin: 0 auto;
    border: 5px solid teal;
    padding: 5px;
    background-color: darkslategrey;
    color: white
}
aside img {
    width: 200px;
    height: auto;
    text-align: center;
}
footer {
    margin-top: 5px;
    border-top: 10px, dotted, rebeccapurple;
    text-align: center;
}